{include file="layout/header.html"}


<div class="headline">Egzaminy</div>

{if !empty($applicationData.examsList)}
<table class="tab">
  <tr class="rowTitle">
    <td>Lp.</td>
    <td>Typ</td>
    <td>Kategoria</td>
    <td>Kursant</td>
    <td>Egzaminator</td>
    <td>Data</td>
    <td>Wynik</td>
  </tr>
  {foreach from=$applicationData.examsList key=key item=row}
  <tr>
    <td>{$key+1}</td>
    <td>{$row.typ}</td>
    <td>{$row.kategoria}</td>
    <td>{$row.imieK} {$row.nazwiskoK}</td>
    <td>{$row.imieI} {$row.nazwiskoI}</td>
    <td>{$row.data}</td>
    <td>{if
      $row.wynik == 'negatywny'
      }
    <td id="negativeresult">{$row.wynik}</td>
    {else}<td id="positiveresult">{$row.wynik}</td>


    {/if}



    </td>
  </tr>
  {/foreach}
</table>
{else}
Brak egzaminów
{/if}


{include file="layout/footer.html"}