{include file="layout/header.html"}


<div class="headline">Informacje</div>


<table class="tab">
  <p>Aplikacja wspomagająca pracę ośrodka ruchu drogowego ma na celu nie tylko usprawnienie działania samego ośrodka ale też ułatwienie kursantowi przejścia przez proces uzyskania uprawnień i wiążącymi się z tym działaniami.
Głównymi funkcjami realizowanymi przez system będą:</p><br>
<ul>
  <li>* Organizacja kursu na prawo jazdy w różnych kategoriach.</li>
  <li>* Zapisanie się kursanta na kurs prawa jazdy lub egzamin.</li>
  <li>* Ustalanie terminów jazd szkoleniowych lub egzaminów.</li>
  <li>* Odpłatność za usługi szkoleniowe lub egzaminy.</li>
  <li>* Wgląd w statystyki postępów w realizacji kursu, a także w historię egzaminów.</li>
</ul>
<h2>3.2. Nasz system posiada takie funkcjonalności jak:</h2>
<ul>
  <li>1. &nbsp;Rejestracja użytkownika</li>
  <li>2. &nbsp;Logowanie i wylogowanie się użytkownika.</li>
  <li>3. &nbsp;Zarządzanie użytkownikami z poziomu administratora.</li>
  <li>4. &nbsp;Zapisywanie się na kurs prawa jazdy.</li>
  <li>5. &nbsp;Ustalanie terminów jazd szkoleniowych.</li>
  <li>6. &nbsp;Zapisywanie kursanta na egzamin.</li>
  <li>7. &nbsp;Zapisywanie się na dodatkowe jazdy doszkalających.</li>
  <li>8. &nbsp;Możliwość dodania opinii na temat osoby prowadzącej jazdy.</li>
  <li>9. &nbsp;Możliwość opłacenia kursu lub egzaminu</li>
  <li>10. &nbsp;Sprawdzenie wyniku egzaminu</li>
  <li>11. &nbsp;Kontrolowanie stanu posiadanych pojazdów</li>
  <li>12. &nbsp;Sprawdzanie stanu pojazdu</li>
  <li>13. &nbsp;Dobieranie pojazdu do akcji (jazdy lub egzaminu)</li>
  <li>14. &nbsp;Wysłanie pojazdu do serwisu</li>
  <li>15. &nbsp;Możliwość rezygnacji z kurs</li>
  <li>16. &nbsp;Możliwość wysłania prośby o system ratalny</li>
  <li>17. &nbsp;Możliwość zmiany instruktora</li>
  <li>18. &nbsp;Losowanie egzaminatora</li>
  <li>19. &nbsp;Procedura wszczęcia egzaminu</li>
  <li>20. &nbsp;Zarządzanie wynikami egzaminów</li>
</ul>
<p>&nbsp;</p>
  
</table>



{include file="layout/footer.html"}

