{include file="layout/header.html"}


<div class="headline">Kursy</div>

<table class="tab">
  <tr class="rowTitle">
    <td>Lp.</td>
    <td>Kategoria</td>
    <td>Data rozpoczęcia</td>
    <td>Data zakończenia</td>
    <td>Instruktor prowadzący</td>
    <td></td>
  </tr>
  {foreach $applicationData.kursyList as $row}
  <tr>
    <td></td>
    <td>{$row.kategoria}</td>
    <td>{$row.dataRozpoczecia}</td>
    <td>{$row.dataZakonczenia}</td>
    <td>{$row.imie} {$row.nazwisko}</td>
    <td>
      <form action="/" method="POST">
        <input type="hidden" name="kursId" value="{$row.idKursPrawaJazdy}">
        <button name="form" value="zapiszNaKurs" type="submit" class="green-btn-min">Zapisz się</button>
      </form>
    </td>
  </tr>
  {/foreach}
</table>



{include file="layout/footer.html"}

