{include file="layout/header.html"}


<div class="headline">Kursanci</div>

<table class="tab">
  <tr class="rowTitle">
      <td>Lp.</td>
      <td>Imię</td>
      <td>Nazwisko</td>
      <td>Data urodzenia</td>
      <td>Pesel</td>
      <td>Adres zamieszkania</td>
      <td>Numer telefonu</td>
      <td>E-mail</td>
    </tr>
    {foreach from=$applicationData.kursantList key=key item=row}
    <tr>
      <td>{$key+1}</td>
      <td>{$row.imie}</td>
      <td>{$row.nazwisko}</td>
      <td>{$row.dataUrodzenia}</td>
      <td>{$row.pesel}</td>
      <td>{$row.adresZamieszkania}</td>
      <td>{$row.numerTelefonu}</td>
      <td>{$row.email}</td>
    </tr>
    {/foreach}
</table>



{include file="layout/footer.html"}

