{include file="layout/header.html"}


<div class="headline">Zaloguj się do systemu</div>
<div class="formArea">
  {if $systemData.get.msg == 'w_zapiszNaKurs'}
  <div class="divArea">
      Aby zapisać się na kurs musisz się zalogować
  </div>
  {/if}
  <form action="/" method="POST">
    <div class="formDiv">
      <input type="text" name="email" placeholder="E-mail" />
    </div>
    <div class="formDiv">
      <input type="password" name="password" placeholder="Hasło" />
    </div>
    <div class="formDiv">
      <button name="form" value="login" type="submit" class="green-btn">Zaloguj</button>
    </div>
  </form>
  {if $systemData.get.msg == 'w_errLogin'}
  <div class="formDiv">
    <div class="formErr">
        Niepoprawny login lub hasło
    </div>
  </div>
  {/if}

  <div class="divArea">
    <a href="/?mod=rejestracja" class="link">Jeśli nie masz konta zarejestruj się &raquo</a>
  </div>
</div>





{include file="layout/footer.html"}

