{include file="layout/header.html"}


<div class="headline">O osrodku</div>


<table class="tab">
  <p style="box-sizing: border-box; margin: 0px; line-height: 1.8; color: rgb(51, 51, 51); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong style="box-sizing: border-box; font-weight: bold;">Małopolski Ośrodek Ruchu Drogowego</strong> w  jest aplikacją wspierającą i umożliwiająca  zdobycie prawa jazdy dla rożnych kategorii.
    <br style="box-sizing: border-box; display: block; margin: 5px 0px 0px;"><strong style="box-sizing: border-box; font-weight: bold;">Do zadań MORD należy</strong>:</p>
  <p style="box-sizing: border-box; margin: 0.5em 0px; line-height: 1.8; color: rgb(51, 51, 51); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">Organizowanie egzaminów państwowych sprawdzających kwalifikacje osób ubiegających się o uprawnienie do kierowania pojazdami oraz kierujących pojazdami. &nbsp;&nbsp;</p>
  <ol style="box-sizing: border-box; padding: 0px; margin: 0px 0px 10px 25px; color: rgb(51, 51, 51); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
    <li style="box-sizing: border-box;">Prowadzenie kursów dokształcających:
      <ul style="box-sizing: border-box; padding: 0px; margin: 1em 0px; list-style: none;">
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">kierowców przewożących rzeczy - kierowcy samochodu ciężarowego lub zespołu pojazdów o dopuszczalnej masie całkowitej przekraczającej 3.5t,&nbsp;</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">kierowców przewożących osoby - kierowcy pojazdu samochodowego przeznaczonego konstrukcyjnie do przewozu powyżej 5 osób łącznie z&nbsp;kierowcą.</li>
      </ul>
    </li>
    <li style="box-sizing: border-box;">Wykonywanie zadań z&nbsp;zakresu Bezpieczeństwa Ruchu Drogowego między innymi:
      <ul style="box-sizing: border-box; padding: 0px; margin: 1em 0px; list-style: none;">
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">szkolenie kierowców naruszających przepisy ruchu drogowego,</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">współpraca ze szkołami w&nbsp;zakresie wychowania komunikacyjnego dzieci i&nbsp;młodzieży,</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">popularyzacja przepisów ruchu drogowego,</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">podnoszenie kultury jazdy kierowców.</li>
      </ul>
    </li>
    <li style="box-sizing: border-box;">Prowadzenie Badań Psychologicznych dla:
      <ul style="box-sizing: border-box; padding: 0px; margin: 1em 0px; list-style: none;">
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Kierowców&nbsp;Wykonujących transport drogowy (wstępne, okresowe)</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Skierowanych w&nbsp;drodze decyzji, przez organ kontroli ruchu drogowego (badania dla osób kierujących w&nbsp;stanie nietrzeźwości, przekroczenia punktów karnych)</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Instruktorów, egzaminatorów</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Pojazdów uprzywilejowanych ( karetka pogotowia, OSP- straż pożarna, policja, straż graniczna, straż miejska )</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Pojazdów służbowych ( np.&nbsp;przedstawiciel handlowy)</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Licencja sportowa</li>
        <li style="box-sizing: border-box; background-image: url(&quot;../images/li.png&quot;); margin: 5px 0px; padding: 0px 0px 0px 15px; background-repeat: no-repeat; background-position: left 7px;">Operatorów wózków widłowych, suwnic, sprzętu ciężkiego, żurawi obrotowych.</li>
      </ul>
    </li>
    <li style="box-sizing: border-box;">Prowadzimy bezpłatne konsultacje dla osób wielokrotnie zdających egzamin na prawo jazdy.</li>
  </ol>
  
</table>



{include file="layout/footer.html"}

