{include file="layout/header.html"}


<div class="headline">Zarejestruj się w systemie</div>
<div class="formArea">
  <form action="/" method="POST">
    <div class="formDiv">
        <input type="text" name="imie" placeholder="Imię" required/>
    </div>
    <div class="formDiv">
        <input type="text" name="nazwisko" placeholder="Nazwisko" required/>
    </div>
    <div class="formDiv">
        <input type="date" name="dataUrodzenia" placeholder="Data urodzenia" required/>
    </div>
    <div class="formDiv">
        <input type="text" name="pesel" placeholder="PESEL" required/>
    </div>
    <div class="formDiv">
        <input type="text" name="adres" placeholder="Adres zamieszkania" required/>
    </div>
    <div class="formDiv">
        <input type="text" name="numerTelefonu" placeholder="Numer telefonu" required/>
    </div>
    <div class="formDiv">
        <input type="text" name="email" placeholder="E-mail" required/>
    </div>
    <div class="formDiv">
        <input type="password" name="password" placeholder="Hasło" required/>
    </div>
    <div class="formDiv">
        <button name="form" value="register" type="submit" class="green-btn">Zarejestruj</button>
    </div>
    
  </form>
</div>


{include file="layout/footer.html"}
