{include file="layout/header.html"}

<div class="headline">Pojazdy</div>

<table class="tab">
  <tr class="rowTitle">
    <td>Lp.</td>
    <td>Typ</td>
    <td>Kategoria</td>
    <td>Egzaminator</td>
    <td>Data</td>
    <td>Wynik</td>
    <td>Status</td>
    <td>Edytuj</td>
  </tr>
  {foreach $applicationData.cars as $key=>$row}
  <tr>
    <td>{$key+1}</td>
    <td>{$row.marka}</td>
    <td>{$row.model}</td>
    <td>{$row.rokProdukcji}</td>
    <td>{$row.numerRejestracyjny}</td>
    <td>{$row.vin}</td>
    <td>{$row.status}</td>
    {if $systemData.session.typKonta eq admin}
    <td><a class="buttonedit" href="?mod=edytujPojazd&id={$row.idSamochod}">Edytuj</a></td>
    {else}
    <td>
      <form action="/" method="POST">
        <button name="form" value="sendCarToService" type="submit" class="green-btn-min">Wyślij pojazd do serwisu</button>
      </form>
    </td>
    {else}
    <td></td>
    {/if}
    
  </tr>
  {/foreach}
</table>

{include file="layout/footer.html"}
