{include file="layout/header.html"}


<div class="headline">Ustal termin jazdy</div>

<div class="formArea">
  <form action="/" method="POST">
    
    <div class="formDiv">
        <input type="date" name="dataJazdy" placeholder="Data jazdy" />
    </div>

    <div class="formDiv">
      <input type="time" name="godzStart" placeholder="Godz. rozpoczęcia" />
    </div>
    <div class="formDiv">
        <input type="time" name="godzStop" placeholder="Godz. zakończenia" />
    </div>

    <div class="formDiv">
        <button name="form" value="registerDriving" type="submit" class="green-btn">Ustal jazdę</button>
    </div>
    
  </form>

{include file="layout/footer.html"}

