<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="pl">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>{$applicationData.headTitle}</title>
    <link rel="stylesheet" type="text/css" href="app/source/layout/css/style.css">
</head>
<body>
<header id="header">
    <div class="container">
        <div class="accountMenu">
            <a href="?mod=logowanie">Logowanie</a>
            <a href="?mod=rejestracja">Rejestracja</a>
        </div>
        <div class="appHeader">
            Małopolski Ośrodek Ruchu Drogowego
        </div>
    </div>
</header>
{include file="layout/nav.html"}
<main id="main">
    <div class="container">