<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="pl">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>{$applicationData.headTitle}</title>
    <link rel="stylesheet" type="text/css" href="app/source/layout/css/style.css">
</head>
<body>
<header id="header">
    
    <div class="container">
        <div class="accountMenu">
            {if isset($systemData.session.userId) && $systemData.session.userId != ''}
                {if $systemData.session.typKonta == 'admin'}
                    <span>Administrator</span>
                {elseif $systemData.session.typKonta == 'instruktor'}
                    <span>Instruktor | {$systemData.session.userName}</span>
                {else}
                    <span>Kursant | {$systemData.session.userName}</span>
                {/if}
                <a href="?mod=wyloguj">Wyloguj</a>
            {else}
                <a href="?mod=logowanie">Logowanie</a>
                <a href="?mod=rejestracja">Rejestracja</a>
            {/if}
        </div>
        <div class="appHeader"><a href="/"><img class="logo_mord" src="app/source/layout/images/mord.png" alt="Logo_MORD"></a>       
        </div>
    </div>
</header>
{include file="layout/nav.html"}
<main id="main">
    <div class="container">