<nav id="nav">
    <div class="container">
        <ul class="navMenu">
            <li><a href="?mod=kursy">Kursy</a></li>
            
            {if isset($systemData.session.userId) && $systemData.session.userId != ''}
                {if $systemData.session.typKonta == 'admin'}
                    <li><a href="?mod=kursanci">Kursanci</a></li>
                    <li><a href="?mod=instruktorzy">Instruktorzy</a></li>
                    <li><a href="?mod=egzaminy">Egzaminy</a></li>
                {elseif $systemData.session.typKonta == 'instruktor'}
                    <li><a href="?mod=kursanci">Kursanci</a></li>
                    <li><a href="?mod=">Egzaminy</a></li>
                {else}
                    <li><a href="?mod=mojekursy">Moje kursy</a></li>
                    <li><a href="?mod=mojeegzaminy">Moje egzaminy</a></li>
                    <li><a href="?mod=mojeplatnosci">Moje płatności</a></li>
                {/if}
            {else}
                
            {/if}
            <li><a href="?mod=informacje">Informacje</a></li>
            <li><a href="?mod=oosrodku">O ośrodku</a></li>
            <li> <a href="?mod="></a></li>
        </ul>
    </div>
</nav>