<nav id="nav">
    <div class="container">
        <ul class="navMenu">
            <li><a href="?mod=kursy">Kursy</a></li>
            <li><a href="?mod=egzaminy">Egzaminy</a></li>
            <li><a href="?mod=kursanci">Kursanci</a></li>
            <li><a href="?mod=instruktorzy">Instruktorzy</a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
            <li> <a href="?mod="></a></li>
        </ul>
    </div>
</nav>