body, div, span, img, ul, ol, li, a, p, hr, form, input, select, textarea, header, button, nav, main, footer {
	margin: 0px; padding: 0px; border: 0px; text-decoration: none; list-style-type: none;
}
table {
    border-collapse: collapse;
}
body {
	font-family: 'Open Sans';
    font-size: 14px; 
    font-weight: 400; 
    color: #343434;  
    background-color: #fff;
}
a { 
	outline-width: 0px;
}
.container {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
}






#header {
    background-color: #86b140;
    color: #fff;
}
.accountMenu {
    line-height: 40px;
    text-align: right;
}
.accountMenu > a,
.accountMenu > span {
    display: inline-block;
    padding: 0px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: 200ms;
}
.accountMenu > a:hover {
    color: #232323;
}
.appHeader {
    padding: 20px 0px 30px;
    font-size: 30px;
    font-weight: 600;
}


#nav {
    padding: 10px 0px;
    background-color: #203265;
    color: #fff;
}

#main {
    padding: 20px 0px;
    min-height: 300px;
}

#footer {
    background-color: #232323;
    color: #fff;
    padding: 20px 0px;
}

.headline {
    padding: 5px 10px 10px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
}


.navMenu > li {
    display: inline-block;
    margin: 0px 5px;
}
.navMenu > li > a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: 200ms
}
.navMenu > li > a:hover {
    color: #A9E051;
}

/*-------------------------------------------------------*/
.divArea {
    margin: 15px 0px;
}
a.link {
    font-weight: 500;
    color: #203265;
    transition: 200ms;
}
a.link:hover {
    color: #86b140;
}



.tab {
    width: 100%;
    text-align: center;
}
.tab tr {
    height: 40px;
}

.tab tr:nth-child(even) {
    background-color: #f5f5f5;
}
.tab .rowTitle {
    font-weight: 500;
    
}










/*-------------------------------------------------------*/
/*style formularzy */
/*-------------------------------------------------------*/
.formArea {
    width: 400px;
    margin: 0px auto;
}
.formArea .formDiv {
    margin: 15px 0px;
}
.formArea .formErr {
    color: #B20000;
}
input, select, textarea, button {
    font-family: 'Open Sans';
    font-size: 14px; 
    font-weight: 400; 
    width: 100%;
    box-sizing: border-box;
}
input {
    padding: 7px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

button.green-btn{
    padding: 7px;
    background-color: #86b140;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 200ms;
}
button.green-btn:hover {
    color: #232323;
}



button.green-btn-min {
    padding: 5px 7px;
    background-color: #86b140;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 200ms;
}
button.green-btn-min:hover {
    color: #232323;
}
/*-------------------------------------------------------*/












/*-------------------------------------------------------*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/OpenSans-ExtraBold.ttf');
}