body, div, span, img, ul, ol, li, a, p, hr, form, input, select, textarea, header, button, nav, main, footer {
	margin: 0px; padding: 0px; border: 0px; text-decoration: none;
}

body {
	font-family: 'verdana';
    font-size: 14px; 
    font-weight: 300; 
    color: #343434;  
    background-color: #fff;
}
a { 
	outline-width: 0px;
}
.container {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
}



#header {
    background-color: #86b140;
    color: #fff;
}
.accountMenu {
    line-height: 40px;
    text-align: right;
}
.accountMenu > a {
    display: inline-block;
    padding: 0px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: 200ms;
}
.accountMenu > a:hover {
    color: #232323;
}
.appHeader {
    padding: 20px 0px;
    font-size: 30px;
}


#nav {
    padding: 10px 0px;
    background-color: #203265;
    color: #fff;
}

#main {
    padding: 20px 0px;
    min-height: 300px;
}

#footer {
    background-color: #232323;
    color: #fff;
    padding: 20px 0px;
}


/*-------------------------------------------------------*/
/*style pól formularzy */
/*-------------------------------------------------------*/
input, select, textarea, button {
    font-family: 'verdana';
    font-size: 14px; 
    font-weight: 300; 
}
input {
    padding: 7px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
/*-------------------------------------------------------*/